﻿<nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
            Matt Studley's Code Portfolio
        </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#!/about">About</a>
                </li>
                <li>
                    <a href="#!/skills">Skills</a>
                </li>
                <li class="dropdown" popover-placement="bottom"
                        popover-trigger="'show'" popover-title="Badge Unlocked!" uib-popover-template="popoverTemplate">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Badges
                        <span id="badgeIndicator" class="badge" >{{getUnlockedBadgeCount()}}</span> 
                        <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu" data-toggle="dropdown" style="width:300px;">
                        <badgetray></badgetray>
                    </div>
                </li>
            </ul>
        </div>
</nav>

