<navheader></navheader>
<div class="container">
    <div class="page-header">
        <h1>Skills</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline">
                <div class="form-group">
                    <label for="txtSkillSearch">Looking for something specific? </label>
                    <input type="text" class="form-control" id="txtSkillSearch" placeholder="Type it here..." ng-model="filter.key">
                </div>
            </form>
        </div>
    </div>
    <hr/>
    <div class="row" ng-repeat="skillCategory in skillCategories | filter: {skills: {name: filter.key}}">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">{{skillCategory.name}}</div>
                <div class="panel-body">

                </div>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="skill in skillCategory.skills | filter: {name: filter.key}">
                        <h4>{{skill.name}}</h4>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{skill.score}}" aria-valuemin="0" aria-valuemax="5" ng-style="{width : getProgressBarPercent(skill.score) + '%' }">
                                <span class="sr-only">{{skill.Score}}</span>
                            </div>
                            <div class="progress-bar progress-bar-info progress-bar-striped active" style="width: 20%" ng-show="shouldDisplayLearningBar(skill)">
                                <span class="sr-only">Learning now...</span> Learning now...
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>