<div class="container-fluid badgetray">
    <div class="row">
        <div class="col-md-12">
            <p>Explore the site to unlock badges:</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 center" ng-repeat="badge in badges">
            <i ng-class="'fa ' + badge.icon" ng-style="badge.achieved && {'color': badge.iconcolor} || {'color': '#dddddd'}" data-toggle="tooltip"
                data-placement="bottom" title="{{badge.achieved && badge.displayname || badge.hint}}"></i>
        </div>
    </div>
</div>