<div id="divHeaderRow" class="row titleBar">
    <div class="col-md-3 col-sm-5 no-padding ">
        <img gravatar-src="'mattwt.studley@gmail.com'" gravatar-size="300" class="profilePhoto">
    </div>
    <div class="col-md-9 col-sm-7 ">
        <div id="divTitleRow" class="row titleBarText">
            <div class="col-md-10 col-sm-9">
                <h1>Matt Studley</h1>
            </div>
            <div class="col-md-2 col-sm-3 text-center side">
                <h2>
                    <a href="https://docs.google.com/document/d/1XYDUwjuhwIxRkZJTt0yUfvzbo4_hm497hLuqTPIefVM/edit?usp=sharing" title="Download Resume">
                        <i class="fa fa-download fa-1x"></i>
                    </a>
                </h2>
            </div>
        </div>
        <div id="divDescriptionRow" class="row dark subTitleBarText">
            <div class="col-md-12">
                <h3>Full-Stack Software Developer, Agile Practitioner, Team Builder</h3>
            </div>
        </div>
        <div id="divNavigation" class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills ">
                    <li>
                        <a href="#!/home">
                            <i class="fa fa-home fa-3x"></i>
                            <h4>Home</h4>
                        </a>
                    </li>
                    <li>
                        <a href="#!/about">
                            <i class="fa fa-info-circle fa-3x"></i>
                            <h4>About</h4>
                        </a>
                    </li>
                    <li>
                        <a href="#!/skills">
                        <i class="fa fa-book fa-3x"></i>
                            <h4>Skills</h4>
                        </a>
                    </li>
                    <li class="dropdown" popover-placement="bottom" popover-trigger="'show'" popover-title="Badge Unlocked!" uib-popover-template="popoverTemplate">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                            <i class="fa fa-trophy fa-3x"></i>
                            <h4><span id="badgeIndicator" class="badge">{{getUnlockedBadgeCount()}}</span> Badges <span class="caret"></span></h4>
                        </a>
                        <div class="dropdown-menu" data-toggle="dropdown" style="width:300px;">
                            <badgetray></badgetray>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="divAboutRow" class="row lighterBackground">
    <div class="col-md-8">
        <div class="row">
            <div class="col-xs-12">
                <h3>About Me:</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>Hello there! I'm a problem solver, coder, and Agile practitioner with experience in backend ETL systems as
                    well as full-stack web development. I've lead the adoption of Agile methodologies on small and large
                    teams and practice the art of scaling it to the team. </p>
                <p>
                    I've lead software development teams in C# and Python environments, and have made it a point to observe and participate in
                    many different development environments. I use those techniques and skills I've learned to build teams
                    and enable others. </p>
                <p>You can explore my site to learn more about me and unlock <i class="fa fa-trophy" ng-click="onTrophyMouseOver()"></i>                    badges. Can you find them all? </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 lightBackground">
        <h3>Personal Data</h3>
        <div class="row">
            <div class="col-xs-3">
                <p>Location:</p>
            </div>
            <div class="col-xs-8 col-xs-offset-1">
                North Greater Boston Area
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <p>E-mail:</p>
            </div>
            <div class="col-xs-8 col-xs-offset-1">
                <a href="mailto:mattwt.studley@gmail.com">Contact me</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <hr/>
                <a href="https://www.linkedin.com/in/matthewstudley">
                    <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
                </a>
                <a href="https://twitter.com/SargentStudley">
                    <i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>
                </a>
                <a href="http://www.bitbucket.org/sargentstudley">
                    <i class="fa fa-bitbucket-square fa-3x" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/sargentstudley">
                    <i class="fa fa-github-square fa-3x" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h4>See what makes this site run:</h4>
        <a class="btn btn-default" href="https://bitbucket.org/sargentstudley/mattstudley.com/src/c1871b805c90?at=master">
            <i class="fa fa-bitbucket-square fa-2x pull-left" aria-hidden="true"></i>
            Review my code
        </a>
    </div>
    <div class="col-md-8">
        <h4>Skills</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="alert largeAlert alert-info">
                    <i class="fa fa-info-circle fa-2x pull-left"></i>
                    My skills, ranging from 0 to 5; bigger is better. 
                    <a class="btn btn-sm btn-default pull-right right-buffer" href="#!/skills">
                                <i class="fa fa-expand fa-2x pull-left"></i>
                                Click for the full list
                            </a>
                </div>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-12">
                <canvas id="mattSkillChart" class="chart chart-horizontal-bar" chart-data="skillChartData" chart-options="skillChartOptions"
                    chart-labels="skillChartLabels" chart-colors="chartColors"></canvas>
            </div>
        </div>

    </div>
</div>