﻿<!DOCTYPE html>
<html>

<head>
    <title>MattStudley.com</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="lib/components-font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="assets/css/mattstudley.css" />

    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="lib/chart.js/dist/Chart.bundle.min.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>

    <script src="lib/angular-gravatar/build/angular-gravatar.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="lib/angular-cookies/angular-cookies.min.js"></script>
    <script src="lib/angular-chart.js/dist/angular-chart.min.js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/app.config.js"></script>
    <script src="app/skills/skills.service.js"></script>
    <script src="app/badges/badgetray.component.js"></script>
    <script src="app/shared/header/navHeader.component.js"></script>
    <script src="app/frontPage/frontpage.component.js"></script>
    <script src="app/about/about.component.js"></script>
    <script src="app/badges/badge.service.js"></script>
    <script src="app/skills/skillsPage.component.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109666586-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-109666586-1');
    </script>

</head>

<body ng-app="mattstudley">
    <script type="text/ng-template" id="myPopoverTemplate.html">
        <div class="row badgetray">
            <div class="col-xs-3">
                <i ng-class="'fa ' + badge().icon + ' fa-3x'" ng-style="{'color': badge().iconcolor}" 
                    data-placement="bottom" title="{{badge().displayname}}"></i>
            </div>
            <div class="col-xs-9">
                <p>{{badge().description}}</p>
            </div>
        </div>
    </script>

    <div class="container top-buffer">
        <div ng-view></div>
    </div>
</body>

</html>