@import "../../lib/bootstrap/less/bootstrap.less";
@import "variables.less";
@import "bootswatch.less";

.top-buffer {
    margin-top: @font-size-base;
}

.left-buffer {
    margin-left: @font-size-base;
}

.right-buffer {
    margin-right: @font-size-base;
}

#divNavigation > div > ul > li {
    .text-center;
}

.profilePhoto {
    width: 100%;
    max-width: 400px;
}

.no-padding {
    padding: 0px;
}

.titleBar {
    @gray-darkerer: darken(@gray-darker,5%);
    background-color: @gray-darker;
    color: @gray-lighter;

    .titleBarText {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .subTitleBarText {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .side {
        background-color: @gray-darker;
    }
    .dark {
        background-color: @gray-darkerer;
        .side {
            background-color: @gray-darker;
        }
    }
    .nav {
        a {
            color: @gray-lighter;
        }

        a:hover {
            color: @gray-dark;
        }
        a:focus {
            color: @gray-dark;
        }

        li.dropdown.open > a {
            color: @gray-dark;
        }
    }

    .badgetray {
        color: @text-color;    
    }

    .popover-inner {
        color: @text-color;
    }
}

.lighterBackground {
    background-color: @gray-lighter;
}

.lightBackground {
    background-color: @gray-light;
    a {
        color: @brand-primary;
    }

    hr {
        border-color: @gray-dark;
    }
}

#mattSkillChart {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.alert.largeAlert
{
    line-height: 2.0;
    i {
        margin-right: @font-size-base;   
    }
}