<navheader></navheader>
<div class="container aboutMatt">
    <div class="page-header">
        <h1>About Matt</h1>
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <h3>I've used a computer all my life. Really.</h3>
            <p> The first interesting thing to know about me is that I've been in the tech industry since I was born - literally.
                I started out in the mid 80's using my dad's computer. My dad - crazily - bought me my own computer, a TRS-80 (Trash Eighty!!) if memory
                serves, when I was <i>two</i>. It's not an exaggeration when I say I've been a computer user for:</p>
            <p>
                <h4 ng-bind="timeInTech"></h4>
            </p>
            <p>That's a lot longer than people think when they first meet me!</p>
        </div>
        <div class="col-md-3 col-sm-12">
            <img src="/assets/img/about/MattStudleysFirstComputer.jpg" class="img-rounded" />
        </div>
    </div>
    <div class="row rowTopSpacer">
        <div class="col-md-4 col-sm-12" ng-mouseenter="handleMapMouseover()">
            <iframe src="https://www.google.com/maps/embed?pb=!1m0!3m2!1sen!2sus!4v1479012466432!6m8!1m7!1sS76Ua5vzUHODnx6bzykm-A!2m2!1d42.86682046543762!2d-71.4945320549781!3f284.4321552951967!4f4.164025035230267!5f0.4000000000000002"
                width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            <h6>Take a virtual walk down the street I grew up on.</h6>
        </div>
        <div class="col-md-8 col-sm-12">
            <h3>Early years as a geek...</h3>
            <p> I grew up in Merrimack, New Hampshire. It's a quiet New Hampshire neighboorhood where all the highway exits off
                the Everrett Turnpike only get on or get off from the south, since most of Merrimack commutes to Boston to
                work. I went to Merrimack Highschool where I became known as a local computer geek. I even became president
                of the Chess club, as if I wasn't geeky enough!
            </p>
        </div>
    </div>
    <div class="row rowTopSpacer">
        <div class="col-md-8 col-sm-12">
            <h3>College builds character...</h3>
            <p>
                 After graduating from Merrimack, I attended Southern New Hampshire University in Manchester, NH. From there I recieved a B.S. and M.S.
                 in Information Technology from the School of Business. 
            </p>
            <p>
                College was a formative time for me, because it took my youthfull interests and focused them. I learned a lot
                 and was active in laying the first steps of what eventually became the 
                 <a href="http://www.snhu.edu/campus-majors/undergraduate/bs-game-programming-and-development">Game Programing and Development major</a>.
                 Getting that major off the ground required working with a lot of the faculty and even deans - not all of which were perceptive to the idea. 
                 At the start of college, I was an extreme introvert. The experience of having an idea for a major, finding others that like the idea,
                  and doing what needed done to make the idea reality began to teach me how to be more
                 extroverted. This was the start of my leadership skills, and is one of the lessons learned from SNHU that I value the most.    
            </p>
            <p>
                At PAX Prime 2016, I had the pleasure of seeing a booth for SNHU's game majors. I got to shake the hands of the students at that booth, and it made my day to see others benefit from
                the work I, along with many other students, did to get that major started.  
            </p>
        </div>
        <div class="col-md-4 col-sm-12">
            <img src="/assets/img/about/RF_Hall.JPG" class="img-rounded" width="300"/>
            <h6>Robert Frost Hall, where many of my college days were spent.</h6>
        </div>
    </div>
    <div class="row rowTopSpacer">
        <div class="col-md-4 col-sm-12">
            <img src="/assets/img/about/VickiAndBuzz.jpg" class="img-rounded" width="300"/>
            <h6>I come home to these two every day. Not laughing is impossible.</h6>
            
        </div>
        <div class="col-md-8 col-sm-12">
            <h3>He meets a girl...</h3>
            <p> 
                After leaving college, I went into the working world. I started with VB.net at SDC Solutions, which became Amcom, and is now Spok.
                I have been adventuring through the tech industry ever since, learning as I go. You can see more about that in my skills and projects areas. 
            </p>
            <p>
                Meanwhile, Outside of my career, A friend of mine introduced me to a girl named Victoria at the Strangebrew in Manchester. She was an engineer, too. 
                We went on a date to Canobie Lake park a few weeks later, where we reversed engineered the water gun game and proceeded to dominate it! 
                A few years and a minor thing called getting married later, we are now living in our house with our "child", Buzz, an energetic and extremely fluffy samoyed.   
            </p>  
        </div>    
    </div>
    <div class="row rowTopSpacer">
        <div class="col-md-8 col-sm-12">
            <h3>What's next?</h3>
            <p> 
                The next chapter of our lives and my career is a frequent topic between my wife and I right now. We're both thinking we need to explore areas outside
                 of southern New Hampshire. Boston is a likely place. If you've read down this far, reach out and contact me. Maybe our next chapter is near you! 
            </p>
        </div>
        <div class="col-md-4 col-sm-12">
            <img src="/assets/img/about/bostonskyline.jpg" class="img-rounded" width="300"/>
            <h6>Maybe Boston is next?</h6>
        </div>
</div>